<a href="https://colab.research.google.com/github/rifat-mukul/Python-ML-Toolkit/blob/main/FeatureEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from sklearn.datasets import load_iris, fetch_openml
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

In [2]:
x, y = load_iris(return_X_y=True)

In [7]:
data = fetch_openml("car", as_frame=True).frame

/usr/local/lib/python3.12/dist-packages/sklearn/datasets/_openml.py:323: UserWarning: Multiple active versions of the dataset matching the name car exist. Versions may be fundamentally different, returning version 2. Available versions:
- version 2, status: active
  url: https://www.openml.org/search?type=data&id=991
- version 3, status: active
  url: https://www.openml.org/search?type=data&id=40975

  warn(warning_msg)

In [8]:
data

     buying  maint  doors persons lug_boot safety binaryClass
0     vhigh  vhigh      2       2    small    low           P
1     vhigh  vhigh      2       2    small    med           P
2     vhigh  vhigh      2       2    small   high           P
3     vhigh  vhigh      2       2      med    low           P
4     vhigh  vhigh      2       2      med    med           P
...     ...    ...    ...     ...      ...    ...         ...
1723    low    low  5more    more      med    med           N
1724    low    low  5more    more      med   high           N
1725    low    low  5more    more      big    low           P
1726    low    low  5more    more      big    med           N
1727    low    low  5more    more      big   high           N

[1728 rows x 7 columns]

In [9]:
columns_to_encode = ['lug_boot', 'safety']

encoder = OrdinalEncoder(
    categories=[
        ['small', 'med', 'big'], # 0, 1, 2
        ['low', 'med', 'high']
    ]

)


data[columns_to_encode] = encoder.fit_transform(data[columns_to_encode])

In [10]:
data

     buying  maint  doors persons  lug_boot  safety binaryClass
0     vhigh  vhigh      2       2       0.0     0.0           P
1     vhigh  vhigh      2       2       0.0     1.0           P
2     vhigh  vhigh      2       2       0.0     2.0           P
3     vhigh  vhigh      2       2       1.0     0.0           P
4     vhigh  vhigh      2       2       1.0     1.0           P
...     ...    ...    ...     ...       ...     ...         ...
1723    low    low  5more    more       1.0     1.0           N
1724    low    low  5more    more       1.0     2.0           N
1725    low    low  5more    more       2.0     0.0           P
1726    low    low  5more    more       2.0     1.0           N
1727    low    low  5more    more       2.0     2.0           N

[1728 rows x 7 columns]

In [11]:
encoder.inverse_transform(data[columns_to_encode])

array([['small', 'low'],
       ['small', 'med'],
       ['small', 'high'],
       ...,
       ['big', 'low'],
       ['big', 'med'],
       ['big', 'high']], dtype=object)

one hot encoding
use this when there is no prograssion like higher or lower for example country

In [13]:
data = fetch_openml("adult", as_frame=True).frame

/usr/local/lib/python3.12/dist-packages/sklearn/datasets/_openml.py:323: UserWarning: Multiple active versions of the dataset matching the name adult exist. Versions may be fundamentally different, returning version 1. Available versions:
- version 1, status: active
  url: https://www.openml.org/search?type=data&id=179
- version 2, status: active
  url: https://www.openml.org/search?type=data&id=1590

  warn(warning_msg)

In [14]:
data

      age         workclass  fnlwgt  ... hoursperweek  native-country  class
0       2         State-gov   77516  ...            2   United-States  <=50K
1       3  Self-emp-not-inc   83311  ...            0   United-States  <=50K
2       2           Private  215646  ...            2   United-States  <=50K
3       3           Private  234721  ...            2   United-States  <=50K
4       1           Private  338409  ...            2            Cuba  <=50K
...    ..               ...     ...  ...          ...             ...    ...
48837   2           Private  215419  ...            2   United-States  <=50K
48838   4               NaN  321403  ...            2   United-States  <=50K
48839   2           Private  374983  ...            3   United-States  <=50K
48840   2           Private   83891  ...            2   United-States  <=50K
48841   1      Self-emp-inc  182148  ...            3   United-States   >50K

[48842 rows x 15 columns]

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [16]:
data.occupation.value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [19]:
import pandas as pd
encoder = OneHotEncoder(
    handle_unknown='ignore',
    sparse_output=False
)

encoded_values = encoder.fit_transform(data[['occupation', 'race']])
new_cols = encoder.get_feature_names_out(['occupation', 'race'])
# pd.DataFrame(encoded_values, columns=new_cols)

In [22]:
df_encoded = pd.DataFrame(encoded_values, columns=new_cols, index=data.index)

data_final = pd.concat(
    [data.drop(columns=['occupation', 'race']),
    df_encoded],
    axis=1
)

In [23]:
data_final

      age         workclass  fnlwgt  ... race_Black  race_Other race_White
0       2         State-gov   77516  ...        0.0         0.0        1.0
1       3  Self-emp-not-inc   83311  ...        0.0         0.0        1.0
2       2           Private  215646  ...        0.0         0.0        1.0
3       3           Private  234721  ...        1.0         0.0        0.0
4       1           Private  338409  ...        1.0         0.0        0.0
...    ..               ...     ...  ...        ...         ...        ...
48837   2           Private  215419  ...        0.0         0.0        1.0
48838   4               NaN  321403  ...        1.0         0.0        0.0
48839   2           Private  374983  ...        0.0         0.0        1.0
48840   2           Private   83891  ...        0.0         0.0        0.0
48841   1      Self-emp-inc  182148  ...        0.0         0.0        1.0

[48842 rows x 33 columns]